  @import "tailwindcss";

  @font-face {
    font-family: EncodeSans-light;
    font-style: light;
    font-weight: 300;
    font-display: swap;
    src: url("../src/assets/Fonts/EncodeSans-Light.ttf") format("truetype");
  }

  body {
    font-family: EncodeSans-light;
  }

  .loader {
    position: relative;
    width: 64px;
    height: 84px;
    

  }
  .loader::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    background: #CAD5E2;
    width: 64px;
    height: 42px;
    border-radius: 0 0 50px 50px;
    animation: move 0.5s linear infinite alternate;
  }
  .loader::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 0;
    background: #0b774a;
    width: 34px;
    height: 34px;
    transform: translateX(-50%) rotate(0deg);
    animation: rotate 2s linear infinite;
  }
  
  @keyframes rotate {
    100% { transform: translateX(-50%) rotate(360deg)}
  }
  @keyframes move {
    0% { transform: rotate(10deg)}
    100% { transform: rotate(-10deg)}
  }

  nav.mainNavbar ul li .active {
    font-weight: bolder;
  }

  nav.mainNavbar ul li:hover :not(.active) {
    font-weight: 600;
    color: rgba(0, 0, 0, 0.6);
  }


  .btnProduct {
    @apply mx-auto block min-w-36 w-3/4 rounded-2xl border border-emerald-600 px-4 py-2 transition-all duration-500 hover:bg-emerald-600 hover:text-white
  }

  .btnCart {
    @apply transition-all transform translate-y-full opacity-20 duration-1000 
  }


        
        
