@import "tailwindcss";

@font-face {
  font-family: EncodeSans-light;
  font-style: light;
  font-weight: 300;
  font-display: swap;
  src: url("../src/assets/Fonts/EncodeSans-Light.ttf") format("truetype");
}

body {
    font-family: EncodeSans-light ;
}
